*.class
benchmark_0_1_5/MarioAI+Benchmark/fitness*.txt
benchmark_0_1_5/MarioAI+Benchmark/out/*
BTs/*.xml
BTs/*.txt
RESULTS/*.dat
RESULTS/*.txt
RESULTS/noAstar*
DIEGORESULTS
*.o
tempStats.txt
.DS_Store

